.copyable {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;

  &__text,
  &__tooltip {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__text {
    flex: 1;
  }

  &__tooltip {
    margin-left: 0.5rem;
  }
}
