.copyable {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;

  & > div {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 560px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
