.form {
  width: 700px;

  &__section-header {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }

  &__input-label {
    font-size: 0.95rem;

    &--required {
      color: $red;
      font-size: 1.2rem;
      font-weight: 500;
      vertical-align: middle;
    }

    &--disabled {
      opacity: 0.5;
    }
  }

  &__input-description {
    color: $gray3;
    font-size: 0.9rem;
  }

  input[type="text"],
  input[type="password"],
  textarea,
  select {
    margin-top: 0.5rem;
    width: 100%;
  }

  input[type="text"],
  input[type="password"],
  textarea,
  select:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__actions {
    margin: 2rem 0 2.5rem;
  }

  &__object-details {
    transition: all 0.5s;

    &--visible {
      display: block;
    }

    &--hidden {
      display: none;
    }
  }

  &__checkbox-container {
    align-items: center;
    display: flex;

    label {
      padding-right: 0.5rem;
    }
  }

  &__json-field {
    &--invalid {
      outline: 2px solid $red;
    }
  }
}
