.inline-notification {
  color: $black;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 1rem;

  &--error {
    background-color: rgba($red, 0.15);
    border: 1px solid $red;
    border-left: 4px solid $red;
  }

  &--warning {
    background-color: rgba($yellow, 0.15);
    border: 1px solid $yellow;
    border-left: 4px solid $yellow;
  }

  &--info {
    background-color: rgba($blue, 0.15);
    border: 1px solid $blue;
    border-left: 4px solid $blue;
  }

  &__main {
    align-items: center;
    display: flex;
    flex-direction: row;

    &__title {
      font-weight: 700;
      padding-right: 0.5rem;
    }

    &__close-button {
      margin-left: auto;

      &__icon {
        height: 17px;
        width: 17px;
      }
    }
  }

  &__subtext {
    font-size: 0.85rem;
    white-space: pre-line;
  }
}
