.job-details {
  &__section-header {
    margin-bottom: 1rem;
  }

  &__card {
    align-items: center;
    background-color: $gray5;
    border-radius: 7px;
    display: flex;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    width: 600px;

    &--secondary {
      background-color: unset;
      border: 1px solid $gray2;
    }

    &__icon {
      height: 20px;
      margin-left: auto;
      width: 20px;
    }

    &__inline-link {
      color: $blue;
    }

    &__text {
      display: flex;
      flex-direction: column;

      &__description {
        font-size: 0.875rem;
        font-weight: 400;
        padding-top: 0.25rem;

        &__icon {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
