.table {
  display: table;
  min-width: 1000px;

  &__head {
    display: table-header-group;
    font-weight: 500;
    padding: 1rem;

    &__row {
      background-color: $gray2;
      display: table-row;
    }
  }

  &__body {
    display: table-row-group;

    &__row {
      display: table-row;

      td {
        display: table-cell;
      }

      &--clickable {
        cursor: pointer;

        &:hover {
          background-color: $gray2;
        }
      }
    }
  }

  &__column {
    display: table-cell;
    padding: 1rem;
  }
}

.jobs {
  &__button {
    margin-bottom: 1rem;
    right: 0;
  }
}
