.table {
  display: table;
  width: 800px;

  &__head {
    display: table-header-group;
    font-weight: 500;
    padding: 1rem;

    &__row {
      display: table-row;
    }
  }

  &__body {
    display: table-row-group;

    &__row {
      display: table-row;

      td {
        display: table-cell;
      }

      &--clickable {
        cursor: pointer;

        &--disabled {
          &:hover {
            background-color: transparent;
          }
        }

        &:hover {
          background-color: $gray2;
        }
      }
    }
  }

  &__column {
    display: table-cell;
    padding: 1rem;

    &__icon {
      height: 20px;
      width: 20px;
    }

    &.grid-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.jobs {
  &__button {
    margin-bottom: 1rem;
    right: 0;
  }
}
