$breakpoint: 1250px;
$intermediate-breakpoint: 1000px;
$tablet-breakpoint: 850px;
$mobile-breakpoint: 600px;

$gray: #565656;
$gray2: #ededed;
$gray3: #404040;
$gray4: #c6c6c6;
$blue: #1a65d6;
$blue2: #436cde;
$blue3: #7cb8f9;
$black: #000;
$white: #fff;
$red: #e10707;

$translucent-blue: rgba($blue, 0.2);

@mixin component {
  background: var(--background-component-primary);
  border: var(--border-component-primary);
  border-radius: var(--border-radius-component);
  color: var(--color-component-text-primary);
  font: var(--font-component-text);
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

@mixin page-fade-in($duration: 0.5s, $animation: ease-in) {
  animation: $duration fadein $animation;
}

@mixin page-fade-out {
  animation: 0.5s fadeout ease-in;
}
