.job-details {
  &__job-info {
    margin-bottom: 1rem;
    width: 632px;

    &__row {
      display: flex;
      width: 100%;

      &--indent {
        margin-left: 1.5rem;
        width: calc(100% - 1.5rem);
      }
    }

    &__label {
      font-weight: 500;
      padding-right: 0.5rem;
      white-space: nowrap;
    }

    &__value {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
